.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8284fa52;
  gap: 1.25rem;

  p {
    max-width: 43.75rem;
    margin: 0 auto;
    font-style: italic;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--black);
  }

  .social {
    display: flex;
    align-items: center;
  }

  a.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    border-radius: 0.625rem;
    background-color: #4ea7de7e;
    transition: all 0.1s ease-out;

    &:active,
    &:focus,
    &:hover {
      background-color: #131a299d;
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
