.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  position: relative;
}

.label {
  font-weight: bold;
  font-size: 12px;
  display: none;
}

.input {
  background-color: var(--gray500);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  border: 1px solid var(--gray700);
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.error {
  border: solid 1.2px var(--red);
}

.errorMessage {
  color: red;
  position: absolute;
  top: 50px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.showErrorMessage {
  visibility: visible;
  opacity: 1;
}

.textarea {
  resize: none;
  height: 150px;
  display: flex;
  padding: 8px;

  &:focus {
    outline: none;
  }
}

.icon {
  display: flex;
  position: absolute;
  bottom: 7px;
  right: 5px;
  cursor: pointer;

  svg {
    color: var(--gray);
  }
}
