.tasksContainer {
  gap: 0.625rem;
  max-width: 700px;
  margin: 0 auto;

  .tasksHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    span {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      font-weight: 700;
    }

    .tasksCreated {
      display: flex;

      span {
        color: var(--blue);
      }

      p {
        background-color: var(--gray300);
        padding: 0.25rem 0.5rem;
        border-radius: 100%;
        color: var(--gray200);
        margin: 0;
      }
    }

    .tasksCompleted {
      display: flex;

      span {
        color: var(--purpleDark);
      }

      p {
        background-color: var(--gray300);
        padding: 0.25rem 0.5rem;
        border-radius: 20px;
        color: var(--gray200);
        margin: 0;
      }
    }
  }

  .tasksList {
    margin-top: 2rem;

    .tasks {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      padding: 1rem;
      background-color: var(--gray500);
      color: var(--white);
      border-radius: 10px;
      border: 1px solid var(--gray400);
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

      & + div {
        margin-top: 1rem;
      }
    }
  }
}
