html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--white);
  scroll-behavior: smooth;
  color: var(--text);
}
