.summaryContainer {
  display: flex;
  gap: 0.625rem;
  max-width: 700px;
  margin: 0 auto;
  margin-top: -4.3rem;

  input {
    background-color: var(--gray500);
    color: var(--white);
    padding: 1rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid var(--gray700);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    width: 5.625rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.625rem;
    background-color: var(--darkBlue);
    color: var(--white);
    border: 1px solid var(--purple);
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
