.checkboxContainer {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
  }

  .checkboxInput {
    margin: 0;
    cursor: pointer;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 0.625rem;
    outline: none;
    transition: all 0.2s ease-in-out;
  }

  .checkboxInput {
    &:checked {
      border-color: var(--purple);
      background-color: var(--purpleDark);
    }
  }
}
